name: Build Docker Image

on:
    push:
        branches:
            - "*"
        tags:
            - "v*"

# Required for secrets.GITHUB_TOKEN
permissions:
    packages: write
    contents: read

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: GHCR-Action
              uses: KuhlTime/ghcr-action@v1
              with:
                  token: ${{ secrets.PAT_TOKEN }}
